DJANGO_SECRET_KEY=replace-with-a-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=secure_testing
POSTGRES_USER=secure_testing
POSTGRES_PASSWORD=replace-with-a-database-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DJANGO_HTTPS=False
